# Frage 1: Wie viele Exemplare gibt es für die jeweils vordefinierten Titelarten?

In [2]:
import urllib.request
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
url = "https://datasets.imdbws.com/title.akas.tsv.gz" # Datenset importieren

In [9]:
title_information_file = "title_information.csv"

In [10]:
urllib.request.urlretrieve(url, title_information_file)

('title_information.csv', <http.client.HTTPMessage at 0x7fd67be7d610>)

In [11]:
title = pd.read_csv(title_information_file, compression='gzip', sep = "\t") # Problem: keine csv datei sondern tsv, möglicherweise zip-datei

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
title

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
32208502,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
32208503,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
32208504,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
32208505,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
32208506,tt9916856,2,The Wind,\N,\N,original,\N,1